
<style>
    ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;


  }
  
  li {
	float: right;
    
  }
  
  li a {
	display: block;
	color: teal;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
     font-size:  30px ;
    font-weight:bold ;
    padding-right: 20px;
        font-family: 'Source Sans Pro', sans-serif;
  }

</style>

<ul>
  <li style="padding-top:10px;padding-right:20px;margin-right:70px"><a class="active" href="/">Home</a></li>
  <li style="float: left;"><a href="#contact" style="	color: teal; font-size:50px;font-family: 'Source Sans Pro', sans-serif;margin-left: 70px;">Buy<span style="color: black;">C</span>art</a></li>
</ul>

<section class="h-100" style="background-color:teal;">


  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class=" mb-0 text-black" style="font-weight:bolder;font-size:35px">Shopping Cart</h3>
          <br>
          <p class="mb-0" style="font-size:26px">You have {{data.totalItems}} items in your cart</p>
          <div>
            {{!-- <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p> --}}
          </div>
        </div>
        {{#each products}}
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="/images/product/{{item._id}}"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{item.name}}</p>
                <p><span class="text-muted">{{item.description}}</span></p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form1" min="0" name="quantity" value={{quantity}} type="number"
                  class="form-control form-control-sm" />

                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0"> ₹ {{item.price}}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
                <div style="width: 925px;font-size:25px;font-weight:bold;color:black;margin-left:650px" >Total price : {{data.totalPrice}}</div>
                <br>
        <div class="card">
          <div class=""card-body"">
             <a href="/checkout/{{data.totalPrice}}" class="btn btn-light btn-block btn-lg" style="width: 925px;font-size:25px;font-weight:bold;color:black">Proceed to Pay</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>